{% extends "base.html" %}
{% block title %}Add Pajas Points{% endblock %}
{% block scripts %}
{% endblock %}
{% block body %}
<h3 class="page-header">Add pajas point for any friend</h3>
<table id="rounded-corner" summary="Add pajaspoint for any friend">
  <thead>
    <tr>
      <th class="rounded-head-left">Description</th>
      <th colspan="2" class="rounded-head-right">Friend</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td class="rounded-foot-left"></td>
      <td colspan="2" class="rounded-foot-right"></td>
    </tr>
  </tfoot>
  <tbody>
    <form method="post" action="/add_point">
      <tr>
	<td>
	  <textarea rows="2" cols="30" name="description"></textarea>
	</td>
	<td>
	  <select id="combobox" name="friend">
	  </select>
	</td>
	<td>
	  <input type="submit" value="Add Point" />
	  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	</td>
      </tr>
    </form>
  </tbody>
</table>
{% endblock %}
