<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}Welcome{% endblock %} &mdash; Pajas!
    </title>
    <meta name="description" content="Give Pajas Points to your Friends">
    <link rel="stylesheet" type="text/css" media="all" href="/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/main.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/ui-lightness/jquery-ui-1.8.9.custom.css" />
    <script src="/jquery-1.5.min.js"></script>
    <script src="/jquery-ui-1.8.9.custom.min.js"></script>
    {% block scripts %}{% endblock %}
    <style> 
      .ui-button { margin-left: -1px; }
      .ui-button-icon-only .ui-button-text { padding: 0.35em; } 
      .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }
    </style> 
  </head>
  <body>
    <div class="container_12">
      <div class="grid_4 prefix_1 suffix_7">
	<a href="/"><img src="/pajas_logo.png" /></a>
      </div>      
      <div class="clear"></div>
      {% if logged_in_user %}
      <div class="grid_6 prefix_1 suffix_5 menu">
	{% block navbar %}
	<a href="/list_points">[Top List]</a>
	<a href="/friend_list">[Pajas Friends]</a>
	<a href="/user_page/{{logged_in_user.user_id}}">[Me]</a>
	<a href="/add_point">[Add Point]</a>
	<a class="logout" onclick="FB.logout()">[Logout]</a>
        {% endblock %}
      </div>
      <div class="clear"></div>
      {% endif %}
      
      {% if message %}
      <div class="message {{ message.type }}">{{ message.content|safe }}</div>
      {% endif %}
      {% block body %}
      {% endblock %}
    </div>
    <script src="/main.js"></script>
    <div id="fb-root"></div>
    <script>
      {# async loading of facebook js sdk #}
      window.fbAsyncInit = function() { facebookInit({{ js_conf|safe }}) };
      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
  </body>
</html>
