{% extends "base.html"%}

{% block scripts %}
<script src="/get_fb_user.js"></script>
{% endblock %}

{% block body %}
<div class="point">
  <div class="pajas">Friend</div>
  <div class="description">Last Point</div>
  <div class="nr_points">Total Points</div>
</div>
{% for uid, last_point, nr_points in friendlist %}
<div class="point">
  <div class="fb_uid pajas" id="{{uid}}"></div>
  <div class="description">{{ last_point.description }}</div>
  <div class="nr_points">{{ nr_points }}</div>
</div>
{% endfor %}
{% endblock %}
