{% extends "base.html"%}

{% block scripts %}
{% endblock %}

{% block body %}
<h3 class="page-header">Your Friends Pajaspoints</h3>
<table id="rounded-corner" summary="Your Friend's Pajaspoints">
  <thead>
    <tr>
      <th class="rounded-head-left">Friend</th>
      <th>Last Point</th>
      <th class="rounded-head-right">Total Points</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2" class="rounded-foot-left"></td>
      <td class="rounded-foot-right"></td>
    </tr>
  </tfoot>
  <tbody>
    {% for uid, last_point, nr_points in friendspajaspoints %}
    <tr>
      <td><div class="fb_uid" id="{{uid}}"></div></td>
      <td><span class="description">{{ last_point.description }}
      </span></td>
      <td>{{ nr_points }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
