{% extends "base.html"%}

{% block scripts %}
{% endblock %}

{% block body %}
<h3 class="page-header">Your Friends Pajas Points</h3>
<table id="rounded-corner" summary="Your Friend's Pajas Points">
  <thead>
    <tr>
      <th class="rounded-head-left">Friend</th>
      <th>Last Point</th>
      <th class="rounded-head-right">Total Points</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2" class="rounded-foot-left"></td>
      <td class="rounded-foot-right"></td>
    </tr>
  </tfoot>
  <tbody>
    {% for uid, name, last_point, nr_points in friendspajaspoints %}
    <tr>
      <td><img src="http://graph.facebook.com/{{uid}}/picture" />
	<a href="/user_page/{{uid}}/1">{{name}}</a></td>
      <td><span class="description">{{ last_point.description }}
      </span></td>
      <td>{{ nr_points }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">You don't have any friends with pajas points! But you can change that by searching for a friend in the search bar named 'Search Friends'.<br /><br /> Select a friend, press enter to go to your friends pajas points. When there you can add a point for that friend.
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
