{% extends "base.html"%}

{% block scripts %}
{% endblock %}

{% block body %}
<h3 class="page-header">Pajas Top List</h3>
<table id="rounded-corner" summary="Pajas Top List">
  <thead>
    <tr>
      <th class="rounded-head-left">Pajas</th>
      <th class="rounded-head-right">Total Points</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td class="rounded-foot-left"></td>
      <td class="rounded-foot-right"></td>
    </tr>
  </tfoot>
  <tbody>
    {% if summary %}
    {% for uid, count, friend in summary %}
    <tr>
      <td>
	{% if friend %}
	<div class="fb_uid" id="{{uid}}"></div>
	{% else %}
	<div class="fb_uid_no_link" id="{{uid}}"></div>
	{% endif%}
      </td>
      <td>{{count}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="2">No Pajas Points exists for any user</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}
