{% extends "base.html"%}

{% block scripts %}

{% endblock %}

{% block body %}
<h3 class="page-header">Pajas points for <div class="fb_uid_name" id="{{ user }}"></h3>
<table id="rounded-corner" summary="Your Pajaspoints">
  <thead>
    <tr>
      <th class="rounded-head-left">Reason</th>
      <th colspan="2" class="rounded-head-right">Given By</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th colspan="3">Add Pajaspoint for <div class="fb_uid_name" id="{{ user }}"></th>
    </tr>
    <tr>
      <form id="add_point" method="post" action="/user_page/{{user}}">
	<td class="rounded-foot-left">
	  <textarea rows="2" cols="30" name="description"></textarea>
	</td>
	<td colspan="2" class="rounded-foot-right">
	  <input type="submit" value="Submit" />
	  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	</td>
      </form>
    </tr>
  </tfoot>
  <tbody>
    {% for point in points %}
    <tr>
      <td><span class="description">{{ point.description }}</span></td>
      {% ifequal point.pajas_id logged_in_user.user_id %}
      <td><div class="fb_uid" id="{{ point.issuer_id }}"></div></td>
      <td>
	<form method="post" id="delete-point" action="/user_page/{{ user }}">
	  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	  <input type="hidden" name="point_tag" value="{{point.key}}" />
	  <input type="submit" value="Remove" />    
      </form>
      </td>
      {% else %}
      {% ifequal point.issuer_id logged_in_user.user_id %}
      <td><div class="fb_uid" id="{{ point.issuer_id }}"></div></td>
      <td>
	<form method="post" id="delete-point" action="/user_page/{{ user }}">
	  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	  <input type="hidden" name="point_tag" value="{{point.key}}" />
	  <input type="submit" value="Remove" />
	</form>
      </td>
      {% else %}
      <td colspan="2">
	<div class="fb_uid" id="{{ point.issuer_id }}"></div>
      </td>
      {% endifequal %}  
      {% endifequal %}  
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No pajaspoints exists for <div class="fb_uid_name" id="{{ user }}">
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
